<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Take-A-Note.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A37672521D85FBC100817A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37672691D85FBC200817A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37672741D85FBC200817A19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
